# Logistic Regression on Credit Card Fraud Detection

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [33]:
# Step 2: Load the credit card dataset
df = pd.read_csv("credit_card_data.csv")
print("Dataset Preview:")
# print(df.head())
df.head()

Dataset Preview:

,age,income,credit_score,debt,loan_amount,num_of_cards,missed_payments,employment_years,region_code,fraud
0,25,50000,650,2000,15000,2,1,2,101,0
1,45,120000,720,5000,25000,4,0,10,102,0
2,30,75000,680,3000,18000,3,2,5,103,1
3,40,100000,700,4000,20000,3,1,8,101,0
4,22,40000,630,1500,12000,1,3,1,102,1

In [34]:
# Step 3: Define features and target
X = df.drop("fraud", axis=1)
X

,age,income,credit_score,debt,loan_amount,num_of_cards,missed_payments,employment_years,region_code
0,25,50000,650,2000,15000,2,1,2,101
1,45,120000,720,5000,25000,4,0,10,102
2,30,75000,680,3000,18000,3,2,5,103
3,40,100000,700,4000,20000,3,1,8,101
4,22,40000,630,1500,12000,1,3,1,102
...,...,...,...,...,...,...,...,...,...
94,45,120000,720,5000,25000,4,0,10,102
95,30,75000,680,3000,18000,3,2,5,103
96,40,100000,700,4000,20000,3,1,8,101
97,22,40000,630,1500,12000,1,3,1,102
98,36,85000,690,3500,21000,3,1,6,103

In [35]:
y = df["fraud"]
y

0     0
1     0
2     1
3     0
4     1
     ..
94    0
95    1
96    0
97    1
98    0
Name: fraud, Length: 99, dtype: int64

In [36]:
# Step 4: Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [37]:
# Step 5: Train the logistic regression model
model = LogisticRegression() # model creation
model.fit(X_train, y_train)  # training the model

LogisticRegression()

In [38]:
# Step 6: Make predictions
y_pred = model.predict(X_test)

In [29]:
X_test

,age,income,credit_score,debt,loan_amount,num_of_cards,missed_payments,employment_years,region_code
62,25,50000,650,2000,15000,2,1,2,101
40,40,100000,700,4000,20000,3,1,8,101
95,30,75000,680,3000,18000,3,2,5,103
18,25,50000,650,2000,15000,2,1,2,101
97,22,40000,630,1500,12000,1,3,1,102
84,30,75000,680,3000,18000,3,2,5,103
64,30,75000,680,3000,18000,3,2,5,103
42,36,85000,690,3500,21000,3,1,6,103
10,22,40000,630,1500,12000,1,3,1,102
0,25,50000,650,2000,15000,2,1,2,101
31,25,50000,650,2000,15000,2,1,2,101
76,45,120000,720,5000,25000,4,0,10,102
47,22,40000,630,1500,12000,1,3,1,102
26,45,120000,720,5000,25000,4,0,10,102
44,45,120000,720,5000,25000,4,0,10,102
4,22,40000,630,1500,12000,1,3,1,102
22,22,40000,630,1500,12000,1,3,1,102
12,25,50000,650,2000,15000,2,1,2,101
88,25,50000,650,2000,15000,2,1,2,101
73,36,85000,690,3500,21000,3,1,6,103
49,25,50000,650,2000,15000,2,1,2,101
70,30,75000,680,3000,18000,3,2,5,103
68,25,50000,650,2000,15000,2,1,2,101
15,40,100000,700,4000,20000,3,1,8,101
39,30,75000,680,3000,18000,3,2,5,103
33,30,75000,680,3000,18000,3,2,5,103
9,40,100000,700,4000,20000,3,1,8,101
81,36,85000,690,3500,21000,3,1,6,103
11,36,85000,690,3500,21000,3,1,6,103
65,40,100000,700,4000,20000,3,1,8,101

In [30]:
y_pred = model.predict([[20,10000,	4000	,0	,21000,	3,	1	,6,	103]])
y_pred

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [39]:
y_pred

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0], dtype=int64)

In [40]:
# Step 7: Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 1.0
Confusion Matrix:
[[19  0]
 [ 0 11]]

In [41]:
import pickle

model = {"name":"sample_model"}
fobj = open("model.pkl","wb")
pickle.dump(model,fobj)